/*<!-- RESPECT THE TRANS COMMNUNITY KEVIN --><!-- RESPECT THE TRANS COMMNUNITY KEVIN --><!-- RESPECT THE TRANS COMMNUNITY KEVIN -->*/


.container{

    margin:1.5% 30%;
}


body{



    border: 1px solid gray;

}



header{
    padding-left: 13px;
}


fieldset{

    border: 0px;

}


/*<!-- RESPECT THE TRANS COMMNUNITY KEVIN --><!-- RESPECT THE TRANS COMMNUNITY KEVIN --><!-- RESPECT THE TRANS COMMNUNITY KEVIN -->*/